<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/4cc0f1f1db.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="main_div">
        <div class="info-bar">
            <div class="wrapper">
                <div class="text-left">

                    @if (string.IsNullOrEmpty(User.Identity.Name))
                    {
                        <p class="site-header--text-links uppercase">

                            <a href="/Account/login" id="customer_login_link">Log in</a>
                            &nbsp; · &nbsp;
                            <a href="/Account/register" id="customer_register_link">Create account</a>
                        </p>
                    }
                    else
                    {
                        <p>
                            <a href="/Product/Create" id="customer_login_link">Add Product</a>
                            &nbsp; · &nbsp;
                            <a href="/Account/Logout" id="customer_login_link">Log Out</a>
                        </p>
                    }

                </div>

            </div>
        </div>

        <header class="header-wrapper">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">



                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineCommerce</a>


                    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> -->
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                           
                        </ul>
                    </div>
                </div>

                <form asp-controller="Home" asp-action="Index" method="get" class="search-box">
                    <p>
                        Title: <input type="text" name="SearchString" placeholder="Type search...">
                        <input class="search-txt" type="submit" value="Filter" />
                    </p>
                </form>

            </nav>

        </header>
    </div>

    <div class="container" style="padding-top: 150px; min-height: 90vh;">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="border-top footer text-muted">

        <div class="container">
            &copy; 2021 - Ecommerce - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

<style type="text/css">

    .search-box {
        position: absolute;
        top: 16px;
        right: 20px;
        background: #2f3640;
        height: 40px;
        border-radius: 50px;
        padding: 6px;
        width: fit-content;
    }

        .search-box:hover > .search-txt {
            width: 150px;
            padding: 0 6px;
        }

        .search-box:hover > .search-btn {
            background: white
        }

    .search-btn {
        color: #FF0000;
        float: left;
        width: 40px;
        height: 30px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }

    .search-txt {
        border: none;
        background: none;
        outline: none;
        /* float: left; */
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 30px;
    }
</style>