@model List<Product>;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .product {
        border: solid 1px blue;
        margin: 10px 30px 20px 30px;
        border-radius: 8px;
        width: 300px;
        float: right;
        background-color: white;
        position: relative;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 8px;
        height: 500px;
    }

    p img {
        width: 270px;
    }
    .container {
    }


    #cut_text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
    }
 
     
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to our online shopping site</h1>
    <h2> the most successful online shopping site in Cameroon.</h2>
</div>


@if (DateTime.Now.Year == 2042)
{
    <span>The year 2042 has finally arrived!</span>
}


<div classe="container">
    @foreach (var product in Model)
    {




<div class="product">


    <p><a href="/Product/Details?id=@product.Id"><img src="@product.ImageURL" alt="" /></a></p>
    <a href="/Product/Details?id=@product.Id"><h2>@product.Title</h2></a>

    <a href="/Product/Details?id=@product.Id"><p>@product.Price FCFA</p></a>

    <a id="cut_text" href="/Product/Details?id=@product.Id"><p>@product.Description</p></a>


</div>}
</div>
