@model List<Product>;
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .product {
        border: solid 1px blue;
        padding: 10px;
        margin: 10px 30px 20px 30px;
        border-radius: 8px;
        width: 500px;
        
    }

     p img {
        width: 400px;
    }
 
     
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to our online shopping site</h1>
    <h2> the most successful online shopping site in Cameroon.</h2>
</div>


@if (DateTime.Now.Year == 2042)
{
    <span>The year 2042 has finally arrived!</span>
}


<div>
    @foreach (var product in Model)
    {


    <div class="product">


        <p><a href="/Product/ViewProduct?id=@product.Id"><img src="@product.ImageURL" alt="" /></a></p>
        <h2>@product.Title</h2>

        <p>@product.Price FCFA</p>

        <p>@product.Description</p>


    </div>
    }
</div>
